.slide-show {
  position: absolute;
  inset: 0px 0px 0px 0px;
  background-color: var(--clr-lightbox-bg);
  z-index: 1;
  display: grid;
  place-content: center;
  user-select: none;

  & &__content {
    position: relative;
    --max-width: 600px;
    max-width: var(--max-width);
  }

  & &__main-gallery {
    position: relative;
  }

  & &__close {
    position: absolute;
    top: -3rem;
    right: 0%;
    background: none;
    background-color: var(--clr-white);
    -webkit-mask: url('/icon-close.svg') no-repeat;
    mask: url('/icon-close.svg') no-repeat;
    -webkit-mask-size: 22px;
    mask-size: 22px;
    width: 22px;
    aspect-ratio: 1/1;
  }

  & &__close,
  & &__next,
  & &__previous {
    border: none;
    cursor: pointer;
  }

  & &__previous,
  & &__next {
    background: var(--clr-white);
    border-radius: 50%;
    width: 50px;
    aspect-ratio: 1/1;
  }

  & &__next {
    position: absolute;
    top: 50%;
    right: 0%;
    translate: 50% -50%;
  }

  & &__previous {
    position: absolute;
    top: 50%;
    left: 0%;
    translate: -50% -50%;
  }

  & &__previous > img,
  & &__next > img {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }

  & &__previous:hover > img,
  & &__next:hover > img {
    opacity: 0.6;
  }

  & &__close:hover {
    background-color: var(--clr-orange);
  }

  & &__img {
    border-radius: 24px;
  }

  & &__thumbnail {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    padding-top: 2rem;
  }

  & &__thumbnail-container {
    position: relative;
    border-radius: 12px;
    cursor: pointer;
    overflow: hidden;
  }

  & &__thumbnail-container:after {
    content: '';
    position: absolute;
    inset: 0px 0px 0px 0px;
    background-color: inherit;
    opacity: 0.4;
  }

  & &__thumbnail-container:hover:after {
    background-color: white;
  }
}
