.hero {
  display: flex;
  gap: 6rem;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;

  @media (max-width: 1500px) {
    margin-top: 3rem;
  }

  @media (max-width: 850px) {
    flex-direction: column;
    margin-top: 0rem;
    gap: 2rem;
  }
}
