.header {
  max-width: 1220px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 3rem;
  border-bottom: 1px solid var(--clr-grayish-blue);
  padding: 0;
  min-height: 88px;

  & > img {
    height: 100%;
  }

  & &__profile {
    width: 48px;
    border-radius: 50%;
    cursor: pointer;
  }

  & &__profile:hover {
    outline: 2px solid var(--clr-orange);
  }

  & &__open {
    display: none;
  }

  @media (max-width: 900px) {
    gap: 1.5rem;
  }

  @media (max-width: 850px) {
    border: none;
  }

  @media (max-width: 768px) {
    & &__open {
      display: block;
    }

    & &__logo-container {
      flex-grow: 1;
    }
  }
}
