.checkout-button {
  width: 100%;
  background: var(--clr-orange);
  color: var(--clr-white);
  font-weight: var(--fw-bold);
  border: none;
  border-radius: 12px;
  padding: 0.75rem 0;
  cursor: pointer;
}
